scripts=[
        "
        create path (sling:OrderedFolder) /content/dam/xmldocumentationforaemaacs
        create path (nt:unstructured) /content/dam/xmldocumentationforaemaacs/jcr:content
        set properties on /content/dam/xmldocumentationforaemaacs/jcr:content
        set cq:conf{String} to /conf/xmldocumentationforaemaacs
        set jcr:title{String} to \"xmldocumentationforaemaacs\"
        end
        "
]
